.catalogue-wrap{
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
}

.catalogue-header{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}